{
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-hapi",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [2, 2]
  }
}
